.movie_name_container {
	margin-top: 3%;
}

.general_infos-container {
	text-align    : center;
}

.infos-fav {
    max-width: 10%;
    // background-color: aqua;
}

.big {
	font-weight   : bold;
	font-size     : 18px;
}

.icon {
	vertical-align: -.05em;
	margin-right: 3%;
}

.favorites {
	cursor: pointer;
	max-width: 30px;
}

.rating .icon {
	margin-right: 1%;
}

.icon.score {
	color         : rgb(255, 255, 81);
}

.icon.genre {
	color         : rgb(100, 195, 106);
}

.icon.year {
	color         : rgb(112, 114, 219);
}

.icon.time {
	color         : rgb(210, 102, 201)}


.summary_container {
    margin-top    : 5%;
    margin-bottom : 5%;
}
.summary {
    font-size     : 18px;
    font-weight   : lighter;
}

.infos_title_horizontal {
	font-weight   : bold;
}

.names {
	font-weight   : lighter;
}


@media (max-width: 800px) {
	.big, .summary {
		font-size: 16px;
	}
}

@media (max-width: 690px) {

	.big, .summary {
		font-size: 15px;
	}

	h1 {
		font-size     : 25px;
	}

	.favorites {
		max-width: 15px;
	}
}


@media (max-width: 590px) {

	.general_infos-container .icon {
		width: 100%;
	}

    h1 {
		font-size     : 20px;
	}

    .infos-genre {
        display: none;
    }

	.big, .summary {
		font-size: 14px;
	}

	.summary {
		margin-top: 10%;;
	}

}

@media (max-width: 430px) {
    .movie_name_container {
        margin-top: 5%;
    }

    h1 {
		font-size     : 17px;
	}

    .general_infos-container {
        margin-top: 5%;
    }

    .col.infos {
        padding: 0%;
    }

    .summary_container > .col {
        padding-right: 0%;
    }

    .infos-year {
        display: none;
    }

    .big, .summary {
		font-size: 12px;
	}
}