@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

.navbar {
	width: 100%;
    padding: 10px 5px 10px 5px;
    background-color: rgb(34, 35, 40);
	box-shadow: 0px 5px 5px 0px rgba(252, 252, 252, 0.198);
}

.logo {
	display : none;
}

.navbar-brand {
    font-family: 'Michroma', sans-serif;
}

.nav-item {
    letter-spacing: 2.5px;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: 15px;
}
@media (max-width: 780px) {
	.navbar-brand, .nav-item {
		font-size: 12px;
	}
}

.nav-link, .navbar-brand {
    color: white
}

@media (max-width: 645px) {
	.navbar {
		flex-wrap: unset;
	}
	.navbar-nav {
		flex-direction: unset;
	}
	.navbar-brand, .nav-item {
		font-size: 9px;
	}
	.nav-item {
		margin: 0 0 0 20px;

	}
	.brand_text {
		display: none
	}
	.logo {
		width: 100%;
		max-width: 30px;
		display : unset;
	}

}

@media (max-width: 370px) {

	.nav-item {
		margin: 0 0 0 15px;
	}

}

:deep(.dropdown_menu  > *) {
	color: white;
	background-color: inherit;
	 --bs-dropdown-min-width: 0rem;
	 --bs-dropdown-padding-y: 0rem;
	 --bs-dropdown-spacer: 0.1rem;
	 font-size: inherit;
	 letter-spacing: inherit;
	 font-family: inherit;
	 text-transform: inherit;
	 margin: inherit;
 }

 :deep(.dropdown_item  > *) {
	color: white;
	background-color: black;
	letter-spacing: inherit;
	 font-family: inherit;
	 text-transform: inherit;
 }

 :deep(.dropdown_item.disabled  > *) {
	background-color: rgb(45, 44, 44);
 }

 :deep(.dropdown_item.disabled) {
	cursor: default;
	pointer-events: none;
	text-decoration: none;
 }


 :deep(.dropdown_menu.show  > *) {
	 position: absolute
 }

