
.max_length {
	color: rgb(63, 63, 63);
	margin-left: 5px;
	margin-top: 5px;
	font-size: 12px;
}

.black_rectangle {
	background-color: black;
	height: 250px;
}

.pic_container {
	width: 200px;
	margin-top: 50px;
}

.main_info {
	margin-left: 20px;
	z-index: 1;
}

.movies {
	margin-top: 0px;
	margin-bottom: 0px;
}

.modify {
	color: white;
	margin-bottom: 3%;
	cursor: pointer
}

.about, .email, .username {
	position: relative;
}

.name, .email, .username {
	word-wrap: break-word; /* Break long words if necessary */
	overflow-wrap: break-word;
}

.email_container {
	// max-width: 40%;
	// max-width: 50%;
}

.modify.mail {
	color: black;
	position: absolute;
	margin-top: -1%;
	margin-left: 1%;
}

.modify.bio {
	color: black;
	position: absolute;
	right: 0;
	top: -17px;
}
.modify.bio.empty {
	top : -15px;
}


.modify:hover {
	transform: scale(1.3);
}
.check_button {
	border-color: white;
	padding: 0
}

.check_button.bio {
	color: rgb(48, 47, 47);
	margin-left: 1%;
	margin: 0px;
	margin-top: 10px;
	padding: 5px;
	padding-right : 20px;
	padding-left : 20px;
	background :linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
}

.check_button:hover .check {
	transform: scale(1.2);
	color: rgb(113, 238, 113);
}
.input-group > * {
	background-color: black;
	color: white;
}

.input-group.email > *,
.input-group.username > * {
	background-color: white;
	color: black;
}

col.not_saved{
	background-color: blue;

}

.check_button.email,
.check_button.username {
	border-color: rgb(190, 189, 189);
}

.check {
	color: green
}


.profile_header {
	width: 200px;
	z-index: 1;
	position: relative;
	cursor: pointer;
}

.profile_header:hover {
	transform:scale(1.03);
}

.profile_header:hover .profile_pic {
	background: linear-gradient(to bottom, transparent 10%, black, black);
}

.profile_header:hover .change_icon {
	visibility: visible;
}

.profile_pic {
	object-fit: cover;
	width: 195px;
	height: 195px;
	border-radius: 10px;;
}

.change_icon {
	visibility: hidden;
	color: rgba(0, 0, 0, 0.878);
	border-radius: 35px;
	background-color: white;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto auto auto auto;
	font-size: 50px;
	opacity: .85;
	transition: none;
}


.col {
	// width: 80%;
}

.dark_input {
	background-color:rgb(0, 0, 0);
	color:white;
	margin-top:5%;
}

.main_info {
	margin-top: 90px;
	width: 50%;
}

.name
{
	text-transform: capitalize;
	color: white;
	margin-right: 5%;
}

.remove {
	color:white;
}


.movie-content, .movie-image {
	box-shadow: 0.5px 0px 2px rgba(0, 0, 0, 0.813);
}


.btn-dark > *, .btn-outline-dark:hover > * {
	color: white;
}

.btn-dark:hover {
	background: rgba(0, 0, 0, 0.642);
}


.gradient-custom-2 {
	background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
	height: 100vw;
}

.remove_pic {
	position: absolute;
	top: 240px;
	left: 190px;
	z-index: 2;
	background-color: black;
	color: red;
}

.error_input {
	border: 2px solid rgb(193, 6, 6);
}

.error_msg {
	padding-left: 2%;
	color: rgb(235, 44, 44);;
	white-space: pre;
	text-transform: none;
  }


.page-link.active, .active > .page-link {
	background-color: black;
	border-color: rgb(99, 97, 97);
}

.reset {
	color: red
}

.tmp {
	font-style: italic;
	font-weight: normal;
}

.next_line {
	white-space: initial;
}

.follows_container {
	max-width: 15%;
}

@media screen and (max-width: 991px) {
	.h5 {
		font-size: 15px;
	}
	.h3 {
		font-size: 20px;
	}
	.lead {
		font-size: 18px;
	}
	.about {
		font-size: 15px;
	}
	.profile_pic {
		width: 180px;
		height: 180px;
	}
	.black_rectangle {
		height: 230px;
	}
	.main_info {
		margin-left: 5px;
	}
}

@media screen and (max-width: 781px) {
	.gradient-custom-2 {
		height: 120vw;
	}
	.small {
		font-size: 12px;
	}
	.h5 {
		font-size: 14px;
	}
	.main_info {
		margin-left: 10px;
	}
	.input-group > span > button > * {
		width: 20px;
	}
	.form-control {
		font-size: 12px;
	}
	.input-group.email {
		width: 100%;
	}
	.form-control.email, .form-control.username {
		padding: 2px;
	}
	.follows_container {
		max-width: 20%;
	}

}


@media screen and (max-width: 681px) {
	.gradient-custom-2 {
		height: 160vw;
	}
}

@media screen and (max-width : 660px) {
	.error_msg {
		font-size: 15px;
	}

}

@media screen and (max-width: 540px) {
	.h5 {
		font-size: 12px;
	}
	.h3 {
		font-size: 15px;
	}
	.profile_pic {
		width: 150px;
		height: 150px;
	}
	.black_rectangle {
		height: 210px;
	}
	.change_icon {
		right: 40px;
	}
	.pic_container {
		width: 150px;
	}
	.pseudo_and_co > * {
		padding: 2px;
	}
	.lead {
		font-size: 15px;
	}
	.about {
		font-size: 12px;
	}
	.check_button.bio {
		font-size: 12px;
		margin-top: 0px
	}
	.check_button.followed, .check_button.follow {
		width: 150px
	}
	.error_msg {
		font-size: 10px;
	}
}

@media screen and (max-width: 530px) {
	.gradient-custom-2 {
		height: 180vw;
	}
}

@media screen and (max-width: 470px) {
	.gradient-custom-2 {
		height: 220vw;
	}
	.profile_pic {
		width: 130px;
		height: 130px;
	}
	.black_rectangle {
		height: 190px;
	}
	.change_icon {
		right: 60px;
	}
	.pic_container {
		width: 130px;
	}
	.follows_container {
		max-width: 27%;
	}
	.check_button.followed, .check_button.follow {
		width: 100px
	}
}

@media screen and (max-width: 375px) {
	.gradient-custom-2 {
		height: 280vw;
	}
	.profile_pic {
		width: 110px;
		height: 110px;
	}
	.black_rectangle {
		height: 150px;
	}
	.change_icon {
		right: 80px;
		font-size: 30px;
	}
	.pic_container {
		margin-top: 30px;
		width: 130px;
	}
	.main_info {
		margin-left: 0px;
		margin-top: 50px;
	}
	.h5 {
		font-size: 10px;
	}
	.h3 {
		font-size: 13px;
	}
	.follows_container {
		max-width: 30%;
	}
}