
* {
	transition: 300ms;
	color: black;
}

hr {
	margin: 0px;
}

.loading {
	text-transform: capitalize;
}


.movies {
	margin: 2%;
	margin-top: 50px;
}

.col-md-auto {
	margin: 0px;
	padding: 0px;
}

.movie-card {
	margin-top: 2%;
	margin-bottom: 2%;
	width: 350px;
	cursor: pointer;
}


.movie-header, .movie-image{
	position: relative;
	padding:0;
	margin: 0;
	height: 300px;
	width: 100%;
	display: block;
	border-top-left-radius: 10px;
	border-top-right-radius:10px;
}

.movie-image {
	justify-content: left;
	object-fit: cover;
}

.header-icon {
	visibility: hidden;
	color: rgba(0, 0, 0, 0.878);
	// box-shadow: -2px -2px 10px 5px #202525;
	border-radius: 35px;
	background-color: white;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto auto auto auto;
	font-size: 54px;
	opacity: .85;


}

.movie-card:hover {
	transform:scale(1.03);
}

.movie-card:hover .movie-image {
	opacity: 0.7
}

.movie-card:hover .header-icon {
	visibility: visible;
}


.header-icon:hover {
	transform:scale(1.1);
}


.movie-content {
	padding: 18px 18px 24px 18px;
	margin: 0;
	background-color: white;
	border-radius: 0% 0% 10px 10px;
}

.movie-content-header, .movie-info {
	display: table;
	width: 100%;
}

.movie-info {
	margin-top: 1em;
}

.info-section {
	display: table-cell;
	text-transform: uppercase;
	text-align:center;

}

.info-section:first-of-type {
	text-align:left;
}

.info-section:last-of-type {
	text-align:right;
}


.info-section label {
	display: block;
	color: rgba(0,0,0,.5);
	margin-bottom: .5em;
	font-size: 9px;
}

.info-section span {
	font-weight: 700;
	font-size: 11px;
}

.info-section .time {
	text-transform: lowercase;
}

.movie-image {
	background-size: cover;
	background-position: 100% 100%;
}

.movie-title {
	max-width: 300px;
}



@media screen and (max-width: 590px) {
	.movie-header, .movie-image{
	height: 200px;
	}

	.movie-title {
		font-size: 15px;
	}
	.movie-info {
	margin-top: 0em;
	}

	.movie-content {
		padding: 12px 12px 10px 12px;
		margin: 0;
	}
}



