* {
	transition: 300ms;
	color: black;
}

hr {
	margin: 0px;
}

.loading {
	text-transform: capitalize;
}


.movies {
	margin: 2%;
	margin-top: 50px;
}

.col-md-auto {
	margin: 0px;
	padding: 0px;
}

.movie-card {
	margin-top: 2%;
	margin-bottom: 2%;
	width: 350px;
}

.movie-card.profile {
	width: 400px;
	margin-top: 0px;
}

.movie-card.profile > .movie-content > .movie-content-header > .movie-title {
	width: 350px;
}


.movie-header, .favorites {
	cursor: pointer;
}

.heart {
	left: 5%;
}


.movie-header, .movie-image{
	position: relative;
	padding:0;
	margin: 0;
	height: 300px;
	width: 100%;
	display: block;
	border-top-left-radius: 10px;
	border-top-right-radius:10px;
}

.movie-image {
	justify-content: left;
	object-fit: cover;
}

.header-icon {
	visibility: hidden;
	color: rgba(0, 0, 0, 0.878);
	border-radius: 35px;
	background-color: white;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto auto auto auto;
	font-size: 54px;
	opacity: .85;
}

.header-icon.seen {
	visibility: unset;
	box-shadow: 0px 0px 0px 10px #0de0e0;
}

.movie-image.seen {
	filter: brightness(0.6);
	opacity: 0.9;
}

.movie-card:hover {
	transform:scale(1.03);
}

.movie-card:hover .movie-image {
	filter: brightness(0.8);
	opacity: 0.8;
}

.movie-card:hover .header-icon {
	visibility: visible;
}


.header-icon:hover {
	transform:scale(1.1);
}


.movie-content {
	padding: 18px 18px 24px 18px;
	margin: 0;
	background-color: white;
	border-radius: 0% 0% 10px 10px;
	border: solid;
	border-color: rgba(165, 163, 163, 0.548);
	border-width: 0.1em;
}

.movie-content-header, .movie-info {
	display: table;
	width: 100%;
}

.movie-info {
	margin-top: 1em;
}

.info-section {
	display: table-cell;
	text-transform: uppercase;
	text-align:center;

}

.info-section:first-of-type {
	text-align:left;
}

.info-section:last-of-type {
	text-align:right;
}


.info-section label {
	display: block;
	color: rgba(0,0,0,.5);
	margin-bottom: .5em;
	font-size: 9px;
}

.info-section span {
	font-weight: 700;
	font-size: 11px;
}

.info-section .time {
	text-transform: lowercase;
}

.movie-image {
	background-size: cover;
	background-position: 100% 100%;
}

.movie-title {
	max-width: 300px;
}


@media screen and (max-width: 1400px) {
	.movie-card.profile {
		width: 350px
	}
	.movie-card.profile > .movie-content> .movie-content-header > .movie-title {
		max-width: 300px;
	}
}

@media screen and (max-width: 1200px) {
	.movie-card.profile {
		width: 290px
	}
	.movie-card.profile > .movie-content> .movie-content-header > .movie-title {
		font-size: 20px;
		width: 250px;
	}
}

@media screen and (max-width: 991px) {
	.movie-card.profile {
		width: 250px
	}
	.movie-card.profile > .movie-content> .movie-content-header > .movie-title {
		font-size: 25px;
		width: 200px;
	}
}

@media screen and (max-width: 767px) {
	.movie-card.profile {
		width: 350px
	}
	.movie-header, .movie-image{
		height: 250px;
	}
	.movie-card.profile {
		margin-left: 10%;
	}
	.movie-card.profile > .movie-content> .movie-content-header > .movie-title {
		font-size: 20px;
		width: 300px;
	}
}

@media screen and (max-width: 590px) {
	.movie-header, .movie-image{
		height: 200px;
	}
	.movie-card.profile > .movie-content> .movie-content-header > .movie-title {
		font-size: 15px;
	}
}

@media screen and (max-width: 538px) {
	.movie-card.profile {
		margin-left: 5%;
	}
}

@media screen and (max-width: 490px) {
	.movie-card.profile {
		margin-left: 2%;
	}
	.movie-card.profile > .movie-content> .movie-content-header > .movie-title {
		max-width: 270px;
	}
}
@media screen and (max-width: 430px) {
	.movie-card.profile > .movie-content> .movie-content-header > .movie-title {
		width: 250px;
	}
}

@media screen and (max-width: 380px) {
	.movie-card.profile > .movie-content> .movie-content-header > .movie-title {
		width: 210px;
	}
}

@media screen and (max-width: 350px) {
	.movie-card.profile > .movie-content> .movie-content-header > .movie-title {
		width: 150px;
	}
}
