.search_bar {
	position        : absolute;
	width           : 300px;
	box-shadow: unset;
	background-color: rgba(34, 35, 40, 0.864);
	min-height: 100%;
}

.small_sidebar {
	width: 70px;
}

.sidebar_menu {
	width: 90%;

}

.nav-link, .row, .nav-item {
	margin : 0px;
	padding: 0px;
}

.nav-item {
	margin-top    : 10%;
	margin-bottom  : 20%;
	position: relative;
}


.input-group > *{
	background-color: rgba(0, 0, 0, 0.662);
	box-shadow      : 0px 0px 10px 0px rgba(252, 252, 252, 0.198);
	color           : white;
	transition      : box-shadow 1s;
	border       : none;
	border-radius: 5px;
	width: 80%;

}

.input_text {
	padding-left: 10%;
}

.input-group-btn {
	width: 15%;
	position:relative;
}


.input-group:hover > *, .input-group:active > * {
	box-shadow: 0px 0px 10px 0px white;
	transition: 0.5s;
}

.input-group:hover:after > *{
	transition: 0.5s;
}
.btn.search_icon {
	width: 100%;
}


@media (max-width: 590px) {
	.search_icon {
		font-size:10px;
		right: 100%;
	}
}


.touchable {
	cursor: pointer;
}

.nav-link {
	font-size: 12px;
	opacity  : 0.7;
}

.nav-link:hover, .nav-link:active, .nav-link.active {
	opacity  : unset;
	font-size: 14px;
}

.nav-link.active {
	font-weight    : bold;
	text-decoration: underline;
}

.remove {
	display        :none
}

.remove.active {
	display: unset;
	font-size: 1.4rem;
	position: absolute;
	right: 0px;
}

.filter {
	letter-spacing: inherit;
	font-family   : inherit;
	text-transform: inherit;
	font-size     : inherit;
	margin         : 15% 0% 5% 0%;
}

.green_slider {
	--slider-tooltip-font-size: 0.775rem;
	--slider-tooltip-line-height: 0.9rem;

}

.show_bar, .a_to_z {
	border       : 0.02rem solid;
	border-color : rgba(255, 255, 255, 0.654);
	border-radius: 5px;
	color        : white;
}
.show_bar:hover, .a_to_z:hover {
	background-color: rgba(255, 255, 255, 0.163);
}

.a_to_z {
	margin-top     : -20%;
	padding        : 5px 10px 5px 10px;
	font-size      : 12px;
}


@media (max-width: 690px) {
	h2{
		font-size: 20px;
	}
	.nav-link, .filter {
		font-size: 10px;
	}
	.search_bar {
		width: 250px;
	}
	.small_sidebar {
		width: 70px;
	}
}

@media (max-width: 590px) {
	.search_bar {
		width: 150px;
	}
	.small_sidebar {
		width: 70px;
	}
	h2{
		font-size: 12px;
	}
	.nav-link, .nav-link.active {
		font-size: 9px;
	}
	.a_to_z{
		font-size  : 8px;
		margin-top : -10%;
		padding    : 2px 5px 2px 5px;
	}
	.green_slider {
		margin-top: 30%;
	--slider-tooltip-font-size: 0.5rem;
	--slider-tooltip-line-height: 0.4rem;
	--slider-tooltip-py: 2px;
	--slider-tooltip-px: 2px;
	--slider-handle-width: 8px;
	--slider-handle-height: 8px;
	}
}
